/* .disk-container{
  position: relative;
  border: 2px solid aqua;
  
}
 */

.rotating-img {
    /* border: 2px red solid; */
    position: absolute;
    width: 10rem;
    height: 10rem;
    /* margin-left: 13rem; */
    left: 5%;
    /* margin-top: -0.5rem; */
    animation: spin 3.5s linear infinite; /* Smooth infinite rotation */
    
  }
  

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

