.about-section{
    background-color: black;

    padding: 5rem 14rem 5rem 12rem;
    display: flex;
    gap: 2rem;
}


h1{
    color: whitesmoke;
    font-size: 3rem;
    /* border: 2px solid green; */

}

.para-text p{
    color: whitesmoke;
    font-size: 1.3rem;
    /* border: 2px solid aqua; */
}


.video-section{
    /* border: 2px solid blueviolet; */
    width: 20rem;
    height: 20rem;
    width: fit-content;
    /* margin-top: 4rem; */
}

.video2{
    height: 100%;
    border-radius: 10%;


}

@media (max-width: 1346px){
    .about-section{
        /* background-color: rebeccapurple; */
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
        /* margin: 0 auto; */
        padding: 0 6rem 0 6rem;

    }

    h1{
        text-align: center;
        /* border: 2px solid rebeccapurple; */

    }

    .video2{
        margin: 0 auto;
    }

    .para-text p{
        text-align: center;
       

    }

    .para-text{
        /* border: 2px solid yellow; */
        max-width: 700px;

    }
}

@media (max-width: 580px){
    .video-section{
        margin-top: 2.5rem;
    }

    .about-section{
        padding: 0 3rem;

    }

}

