header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0rem 2rem;
    /* background-color: #2B2C2E; */
    margin-top: 2%;
  }


  /* .hamburger {
    display: none;
  } */

.topbar-title {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.3rem;
    /* margin-top: 1rem; */
    text-align: center;
    cursor: pointer;

}
/* 
.topbar-links{
    margin-top: 1rem;
} */

header ul {
    display: flex;
    list-style: none;
    gap: 1.2rem;
  }

header ul li {
    text-transform: uppercase;

  }

header ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 1.3rem;
  }


  header ul li a:hover{
    opacity: 0.5;
  }




  /* @media (max-width: 768px) {
    .hamburger {
      display: block;
    }

    header ul li{
      display: none;
    }


  } */

  @media (max-width: 450px){
    .topbar-title{
       /* background-color: rebeccapurple; */
       font-size: 1rem;
       margin-top: 1.5rem;
    }
}