

.smiski-img{
    height: 14em;
    /* width: 14rem; */
    position: absolute;
    /* border: 2px red solid; */
    right: -1%;
    bottom: -2%;
    animation: float1 3.5s ease-in-out infinite;

}

@keyframes float1{
    50% {
        transform: translateY(-8px) rotate(-7deg);
    }

}


.smiski2-img{
    height: 11rem;
    /* width: 11rem; */
    rotate: 10deg;
    position: absolute;
    /* border: 2px red solid; */
    right: 2%;
    top: -5%;
    animation: float9 4s ease-in-out infinite;
}


.threelines-img{
    height: 4rem;
    width: 4rem;
    rotate: 10deg;
    position: absolute;
    /* border: 2px red solid; */
    left: 9%;
    bottom: 8%;
    animation: float8 3.5s ease-in-out infinite;
}

@keyframes float8{
    50% {
        transform: translateY(-8px) rotate(-5deg);
    }

}

@keyframes float9{
    50% {
        transform: translateY(-8px) rotate(-8deg);
    }

}

