.forfun-section{
    background-color: black;
    padding: 10rem;
    border: 2px aqua solid;
    /* width: 100%; */
    /* height: 100vh; */

}

.forfun-title{
    border: 2px red solid;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h5{
    font-weight: 200;
}


.art-title{
    color: whitesmoke;
}

.gallery {
    border: 2px greenyellow solid;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 30px;
    gap: 30px;
    width: 84vw;
}