.project-section {
    /* border: 2px red solid; */
    margin-top: 10rem;
    background-color: black;
    text-transform: uppercase;
    /* text-align: center; */
    color: white;
}

.project-header {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-header h1 {
    /* font-size: 5rem; */
    font-size: clamp(3.2rem, 5.5vw, 7rem);
    font-weight: 500;
}

.project-header h3 {
    font-size: 1.4rem;
    font-size: clamp(1rem, 1.5vw, 4rem);
    font-weight: 300;
    margin-top: -0.1rem;
}


.card-container {
    /* margin-top: -2.5rem; */
    margin-top: clamp(1.5rem, 2vw, 3rem);
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 4rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 6rem;
    /* border-radius: 1.25rem; */
}

.col-md-4 {
    width: 100%;
    max-width: 100%;
    /* border: 2px solid aqua; */
    display: flex;
    flex-direction: column;
}

.card {
    background-color: black;
    border-radius: 1rem;
    opacity: 0;
    /* transform: translateY(50px); */
    filter: grayscale(100%);
    /* Make the card black and white */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

@media (max-width: 968px) {
    .card-container {
        grid-template-columns: 1fr;
        gap: 3rem;
        padding: 0 1rem;
    }

    .col-md-4 {
        width: 100%;
        max-width: 600px;
    }
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}


.card:hover {
    transform: scale(1.03);
    /* Slight zoom out (5% larger) */
    filter: grayscale(0%);
    /* Restore original color */
}


.card-text {
    color: whitesmoke;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* background-color: green; */
    /* padding: 1rem; */
}


.card-name-small {
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: 1rem;
}


.card-name-tools {
    font-weight: 300;
    margin-top: -0.5rem;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    opacity: 0.8;
    color: rgb(147, 147, 147);
    /* margin-left: 1rem; */
}

.card-name-role {
    font-weight: 300;
    margin-top: -0.5rem;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    opacity: 0.8;
    /* margin-left: 1rem; */
}


.card-name-small-para {
    margin-top: -0.4rem;
    font-weight: 300;
    letter-spacing: 0.04rem;
    font-size: 1rem;
    text-transform: none;
    flex-grow: 1;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* margin-left: 1rem; */
}

.card-name-large {
    margin-top: -0.3rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    /* margin-left: 1rem; */

}



.ovals {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;


}

.role-name {
    border-radius: 1rem;
    background-color: rgb(225, 225, 225);
    color: black;
    font-size: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}