

.project-section {
    /* border: 2px red solid; */
    margin-top: 10rem;
    background-color: black;
    text-transform: uppercase;
    /* text-align: center; */
    color: white;
}

.project-header {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-header h1 {
    /* font-size: 5rem; */
    font-size: clamp(3.2rem, 5.5vw, 7rem);
    font-weight: 500;
}

.project-header h3 {
    font-size: 1.4rem;
    font-size: clamp(1rem, 1.5vw, 4rem);
    font-weight: 300;
    margin-top: -0.1rem;
}


.card-container{
    /* margin-top: -2.5rem; */
    margin-top: clamp(1.5rem, 1.5vw, 3rem);
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    /* border-radius: 1.25rem; */
}

.col-md-4 {
    width: 38%;
    /* border: 2px solid aqua; */
}

.card{
    background-color: black;
    border-radius: 1rem;
    transition: all .2s ease-in-out; 
    opacity: 0;
    animation: fade-in 1s ease-in forwards;
    filter: grayscale(100%); /* Make the card black and white */
    
}

@media (max-width: 768px) {
    .col-md-4 {
        width: 100%; /* One card per row on smaller screens */
        padding: 1rem;
    }

}

.card-img{
    width: 100%;
    border-radius: 0.5rem;
}


.card:hover {
    transform: scale(1.03); /* Slight zoom out (5% larger) */
    filter: grayscale(0%); /* Restore original color */
}


.card-text{
    color: whitesmoke;
    margin-top: 1.5rem;
    /* background-color: green; */
    /* padding: 1rem; */
}


.card-name-small{
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: 1rem;
}


.card-name-tools{
    font-weight: 300;
    margin-top: -0.5rem;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    opacity: 0.8;
    /* margin-left: 1rem; */
}


.card-name-small-para{
    margin-top: -0.4rem;
    font-weight: 300;
    letter-spacing: 0.04rem;
    font-size: 1rem;
    text-transform: none;
    /* margin-left: 1rem; */
}

.card-name-large{
    margin-top: -0.3rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
    /* margin-left: 1rem; */

}

  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

.ovals{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    

}

.role-name{
    border-radius: 1rem;
    background-color: rgb(225, 225, 225);
    color: black;
    font-size: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}