

.guppy-img{
    height: 7rem;
    /* width: 7rem; */
    position: absolute;
    /* border: 2px red solid; */
    left: 38%;
    top: 10%;
    animation: float2 3.2s ease-in-out infinite;
    rotate: 6deg;

}

@keyframes float2{
    50% {
        transform: translateY(-8px) rotate(-4deg);
    }

}
