@keyframes float1 {
    50%{
        transform: translateY(-8px) rotate(-7deg);
    }
  }
  
  
  @keyframes float2{
    50%{
        transform: translateY(-8px) rotate(-4deg);
    }
  
  }
  
  
  @keyframes float3{
    50% {
        transform: translateY(-8px) rotate(10deg);
    }
  }
  
  @keyframes float5{
    50% {
        transform:  rotate(2deg);
    }
  
  
  }


  @keyframes spin{
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  

  

@keyframes fadeInExpand {
    0% {
      transform: scale(0.8) rotate(2deg); /* Start with a small rotation */
    }
    25% {
      transform: scale(0.9) rotate(-2deg); /* Subtle jiggle effect */
    }
    50% {
      transform: scale(1.02) rotate(1deg); /* Slight scale up with subtle rotation */
    }
    75% {
      transform: scale(1) rotate(-1deg); /* Slight scale with small reverse rotation */
    }
    100% {
      /* opacity: 1; */
      transform: scale(1) rotate(0deg); /* Final scale and no rotation */
    }
  }
  